*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  /* Используем��е��иа-запросы для адаптации к разным размерам экрана */
  
  /* До 576px (мобильные устройства) */
  @media screen and (max-width: 576px) {
    body {
      font-size: 14px;
    }
  
  .container {
      padding: 10px;
    }
  }
  
  /* От 576px до 768px (планшеты) */
  @media screen and (min-width: 576px) and (max-width: 768px) {
    body {
      font-size: 16px;
    }
  
    .container {
      padding: 20px;
    }
  }
  
  /* От 768px до 998px (маленькие ноутбуки) */
  @media screen and (min-width:768px)and (max-width:998px) {
    body {
      font-size: 18px;
    }
  
    .container {
      padding:30px;
    }
  }
  
  /* От 998px до 1200px (большие ноутбуки) */
  @media screen and (min-width: 998px) and (max-width: 1200px) {
    body {
      font-size: 20px;
    }
  
    .container {
      padding: 40px;
    }
  }
  
  /* Свыше 1200px (настольные компьютеры) */
  @media screen and (min-width: 1200px) {
    body {
      font-size: 22px;
    }
  
    .container {
      padding: 50px;
    }
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #88e410;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #f2f2f2;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%; 
} 
a { 
   text-decoration: none;
}
.text {
    text-align: center;
}
.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  
  .links li {
    flex: 1;
    text-align: center;
  }
  
  .links a {
    text-decoration: none;
    color: #000;
  }
